<!doctype html>

<html>
<head>
	<title>My HCI Friends</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/hci-friends.css" rel="stylesheet">
</head>

<body>
	<div class="container">
	<h1>My HCI Friends</h1>
	<div class="hello">
		<h3>Unicorn Friend</h3>
		<p> My friends are magical</p>
	</div>
	


	<form id="addFriendForm" role="form" method="get" action="/add">
		<h3>Add a friend</h3>

			{{#each friends}}
			<section class="group" id="group">
		    <div class="form-group">
		    	<class="js-form-group">
			    	<img src="{{imageURL}}" class="img-fluid" alt="">
			    	<a href="#" id="name"><h4>{{name}}</h4></a>
			    	<p>{{description}}</p>
		    </div>
			</section>
		    {{/each}}



	    <input type="submit" id="submitBtn" class="btn btn-default" value="Add the friend"></input>
	</form>
	

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
	</div>
</body>
</html>
